meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')
// Bootstrap Core CSS
link(href='../components/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
// MetisMenu CSS
link(href='../components/vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
// Custom CSS
link(href='../components/bootstrap/dist/css/sb-admin-2.css', rel='stylesheet')
// Custom Fonts
link(href='../components/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

script(src='../components/vendor/jquery/jquery.min.js')
// Bootstrap Core JavaScript
script(src='../components/vendor/bootstrap/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='../components/vendor/metisMenu/metisMenu.min.js')
// Custom Theme JavaScript
script(src='../components/bootstrap/dist/js/sb-admin-2.js')
