meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="/components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/components/vendor/metisMenu/metisMenu.min.css')
link(rel='stylesheet', href='/components/bootstrap/dist/css/sb-admin-2.css')
link(rel='stylesheet', href='/components/vendor/font-awesome/css/font-awesome.min.css',type='text/css')
script(src="/components/vendor/jquery/jquery.min.js")
script(src="/components/vendor/bootstrap/js/bootstrap.min.js")
script(src="/components/vendor/metisMenu/metisMenu.min.js")
script(src="/components/dist/js/sb-admin-2.js")
